.hero{
    background-color: var(--fundo-principal);
    color: var(--texto-principal);
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.destaque {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--fundo-segundario);
    padding: 25px 0px;
}

.card-imoveis{
    background-color: var(--fundo-principal);
    color: var(--texto-principal);
    padding-bottom: 10px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-indent: 10px;
    transition-duration: 0.3s;
}

.card-imoveis:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 10px var(--cor-detalhes);
}

.card-imoveis img{
    width: 100%;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-especificacao{
    display: flex;
    gap: 20px;
}

.card-especificacao div{
    display: flex;

}

.top {
    vertical-align: super;
    font-size: small;
    text-indent: 2px;
}

.card-preco {
    font-size: 25px;
}